{{> head}}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum facilis eligendi quos architecto? Quam repudiandae 
            pariatur beatae molestias distinctio impedit ratione, tempora eos quo atque, deserunt nemo tenetur 
            itaque dignissimos.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/zacefron.jpg" alt="" class="img-thumbnail">

    </div>
</div>
{{> footer }}